* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 1.5rem;
}

.container {
  width: 85%;
  max-width: 135rem;
  margin: 0 auto;
}